body {
    background-image: url(../Images/train-background.jpg);
    background-size: cover;
}

.jumbotron {
    opacity: .85;
    margin-top: 20px;
}

.card {
    opacity: 0.85;
    margin-bottom: 20px;
}

